<table class="table table-striped">
  <thead>
    <tr>
      <th>Fragments</th>
    </tr>
  </thead>
  <tbody>
    <% @fragments.each do |fragment| %>
    <tr>
      <td>
        <a href="/fragment/<%= fragment.id %>"><%= fragment.url %></a>
      </td>
      <td>
        <%= form_tag("/delete/#{fragment.id}", method: "delete") do %>
        <%= submit_tag 'Delete', class: 'ui button' %>
        <% end %>

      </td>
    </tr>
    <% end %>
  </tbody>
</table>
