<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Hi <%= @user.name%></h1>
<p>You create new fragment.</p>
<hr>
<a target="_blank" href="<%= @fragment.url %>"> <%= @fragment.url %> </a>
</body>
</html>
