<div class="ui raised segment" data-ng-hide="index.user.id">
  <a class="ui red ribbon label">
    <i class="user icon"></i>
  </a>

  <button class="ui youtube button" data-ng-click="index.login()">
    <i class="sign in icon"></i> Login with YouTube
  </button>
</div>

<div class="ui raised segment" data-ng-show="index.user.id">
  <a class="ui red ribbon label">
    <i class="video play icon"></i>
  </a>

  <button class="ui red right floated button" data-ng-click="index.newFragment()" data-ng-class="{disabled: index.fragment.isCreating}" data-title="Reloader" data-content="After created fragment, reload tab 'new fragment.'" data-position="top left">New Fragment</button>

  <div class="ui pointing secondary menu">
    <a class="item active" data-tab="new-fragment" data-app-tab>New Fragment</a>
    <a class="item" data-tab="my-profile" data-ng-click="index.getUserFragments()" data-app-tab>My Profile</a>
    <a data-ng-if="index.user.role == 'admin'" class="item" data-tab="admin" data-ng-click="index.getAdminController()" data-app-tab>Admin</a>
  </div>

  <div class="ui tab active" data-tab="new-fragment">
    <div class="ui segments" data-ng-show="index.video.isCreated || index.fragment.isCreated">
      <div class="ui segment" data-ng-if="index.video.isCreated" data-ng-class="{loading: index.fragment.isCreating}">
        <iframe frameborder="0" width="100%" height="600" data-ng-src="{{ index.video.embed_url }}" allowfullscreen></iframe>
      </div>
      <div class="ui segment" data-ng-if="index.fragment.isCreated">
        <iframe frameborder="0" width="100%" height="600" data-ng-src="{{ index.fragment.embed_url }}" allowfullscreen></iframe>
      </div>
      <div class="ui segment" data-ng-if="index.fragment.isCreated">
        <div class="ui form">
          <div class="field">
            <label>New Youtube URL</label>

            <div class="ui fluid action input">
              <input id="url" value="{{ index.fragment.url }}">

              <button class="ui red icon labeled button" data-clipboard-target="#url" ngclipboard>
                <i class="copy icon"></i> Copy
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="ui segment center aligned" data-ng-if="index.fragment.isCreated">
        <div class="ui buttons">
          <a class="ui facebook button" href="#" socialshare socialshare-provider="facebook" socialshare-title="{{ index.fragment.title }}" socialshare-description="{{ index.fragment.description }}" socialshare-url="{{ index.fragment.url }}">
            <i class="facebook icon"></i> Share on Facebook
          </a>
          <div class="or"></div>
          <a class="ui twitter button" href="#" socialshare socialshare-provider="twitter" socialshare-text="{{ index.fragment.title }}" socialshare-url="{{ index.fragment.url }}">
            <i class="twitter icon"></i> Share on Twitter
          </a>
        </div>
      </div>
    </div>
    <div id="create-fragment" class="ui form" data-ng-hide="index.fragment.isCreating || index.fragment.isCreated">
      <div class="ui icon negative message" data-ng-show="index.error">
        <i class="warning icon"></i>
        <i class="close icon" data-ng-click="index.error = ''"></i>
        <div class="header">{{ index.error }}</div>
      </div>

      <div class="required field">
        <label>Youtube URL</label>

        <input type="url" name="url" placeholder="Youtube URL" data-ng-change="index.createVideo()" data-ng-model="index.video.url" data-ng-disabled="index.video.id" data-content="Use the link from youtube">
      </div>
      <div data-ng-show="index.video.embed_url">
        <div class="required field">
          <label>Duration</label>

          <div min="0" max="index.video.duration" model-min="index.fragment.start_from" model-max="index.fragment.end_from" show-values="true" attach-handle-values="true" on-handle-up="index.getVideoEmbedUrl()" on-handle-down="index.getVideoEmbedUrl()" data-range-slider></div>
        </div>
        <div class="required field">
          <label>Title</label>

          <input type="text" name="title" data-ng-model="index.fragment.title">
        </div>
        <div class="field">
          <label>Description</label>

          <textarea name="description" rows="5" data-ng-model="index.fragment.description"></textarea>
        </div>

        <div class="ui basic segment center aligned">
          <button class="ui massive red button" data-ng-click="index.createFragment()">Create fragment</button>
        </div>
      </div>
    </div>
  </div>
  <div class="ui tab" data-tab="my-profile">
    <div class="ui grid">
      <div class="ui four wide column">
        <div class="ui card">
          <div class="image">
            <img data-ng-src="{{ index.user.image }}">
          </div>
          <div class="content">
            <a class="header">{{ index.user.name }}</a>

            <div class="meta">
              <span class="info_email">{{ index.user.email }}</span>
            </div>
          </div>
          <div class="extra content">
            <span>
              <i class="video icon"></i> {{ index.user.fragments.length }} fragments
            </span>
          </div>
          <div class="ui bottom attached button" data-ng-click="index.logout()" data-ng-class="{disabled: index.fragment.isCreating}" data-ng-show="index.user.id">
            <i class="sign out icon"></i> Logout
          </div>
        </div>
      </div>
      <div class="ui twelve wide column">
        <div class="ui search">
          <div class="ui fluid icon input">
            <input class="prompt" type="text" placeholder="Search" data-ng-model="index.results">

            <i class="search icon"></i>
          </div>
        </div>

        <div class="ui divided items">
          <div class="item" data-ng-repeat="fragment in index.user.fragments | filter:index.results">
            <div class="image">
              <img data-ng-src="http://img.youtube.com/vi/{{ fragment.video.v }}/0.jpg">
            </div>
            <div class="content">
              <a class="header" data-ng-href="{{ fragment.url }}" target="_blank">{{ fragment.title }}</a>

              <div class="description">
                <p>{{ fragment.description }}</p>
              </div>
              <div class="extra">
                <button class="ui blue mini icon labeled button" data-ng-click="index.setActiveFragment(fragment);" data-modal-id="#preview-fragment" data-app-modal>
                  <i class="video icon"></i> Preview
                </button>
                <button class="ui red mini icon labeled button" data-ng-click="index.setActiveFragment(fragment);" data-modal-id="#delete-fragment" data-app-modal>
                  <i class="trash icon"></i> Delete
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="ui tab" data-tab="admin">
    <div class="ui styled fluid accordion">
      <div class="active title">
        <i class="dropdown icon"></i>
        Users
      </div>
      <div class="content">

        <table class="ui compact celled definition table">
          <thead>
          <tr>
            <th></th>
            <th>Avatar</th>
            <th>Name</th>
            <th>E-mail address</th>
            <th>Role</th>
          </tr>
          </thead>
          <tbody>
          <tr data-ng-repeat="user in index.secret_admin.users">
            <td class="collapsing">
              <!--<div class="ui fitted slider checkbox">-->
              <!--<input type="checkbox" data-ng-if="user.role == 'admin'" data-gn-true> <label></label>-->
              <!--</div>-->
            </td>
            <td>  </td>
            <td>{{ user.name }}  </td>
            <td>{{ user.email }} </td>
            <td>{{ user.role }} </td>
          </tr>

          </tbody>
          <tfoot class="full-width">
          <tr>
            <th></th>
            <th colspan="4">
              <div class="ui right floated small primary labeled icon button">
                <i class="user icon"></i> Add User
              </div>
              <div class="ui small button">
                Approve
              </div>
              <div class="ui small  disabled button">
                Approve All
              </div>
            </th>
          </tr>
          </tfoot>
        </table>

      </div>
      <div class="title">
        <i class="dropdown icon"></i>
        Fragments
      </div>
      <div class="content">

        <table class="ui compact celled definition table">
          <thead>
          <tr>
            <th></th>
            <th>User ID</th>
            <th>Title</th>
            <th>Description</th>
            <th>Error</th>
          </tr>
          </thead>
          <tbody>
          <tr data-ng-repeat="fragment in index.secret_admin.fragments">
            <td class="collapsing">
              <!--<div class="ui fitted slider checkbox">-->
              <!--<input type="checkbox" data-ng-if="user.role == 'admin'" data-gn-true> <label></label>-->
              <!--</div>-->
            </td>

            <td>{{ fragment.user_id }}  </td>
            <td>{{ fragment.title }} </td>
            <td>{{ fragment.description }} </td>
            <td>{{ fragment.error }} </td>
          </tr>

          </tbody>
          <tfoot class="full-width">
          <tr>
            <th></th>
            <th colspan="4">
              <div class="ui right floated small primary labeled icon button">
                <i class="user icon"></i> Add Fragment
              </div>
              <div class="ui small button">
                Approve
              </div>
              <div class="ui small  disabled button">
                Approve All
              </div>
            </th>
          </tr>
          </tfoot>
        </table>

      </div>
      <div class="title">
        <i class="dropdown icon"></i>
        Cloudinary
      </div>
      <div class="content">
        <div>
          <%= cl_video_tag("KqTD30qbqyU",:width => 100, :height => 100) %>
          <%= cl_video_tag("KqTD30qbqyU",:width => 100, :height => 100) %>
        </div>

      </div>
    </div>

  </div>
</div>

<div class="ui small modal" id="preview-fragment">
  <i class="close icon"></i>

  <div class="content">
    <!--<div class="ui embed" data-source="youtube" data-url="{{ index.active_fragment.embed_url }}"></div>-->

    <iframe frameborder="0" width="100%" height="400" data-ng-src="{{ index.active_fragment.embed_url }}" allowfullscreen></iframe>
  </div>
</div>

<div class="ui small modal" id="delete-fragment">
  <i class="close icon"></i>

  <div class="header">Are you sure want to delete fragment?</div>
  <div class="actions">
    <div class="ui black deny button">No</div>
    <div class="ui positive right labeled icon button" data-ng-click="index.deleteFragment();">Yes
      <i class="checkmark icon"></i>
    </div>
  </div>
</div>
