<div class="ui segment" data-ng-show="index.user.id">
  <a class="ui red ribbon label">
    <i class="video play icon"></i>
  </a>

  <div class="ui form">
    <div class="field">
      <label>Youtube URL</label>

      <div class="ui action input">
        <input type="text" data-ng-model="index.fragment.url">

        <button class="ui button" data-ng-click="index.preview()">Preview</button>
      </div>
    </div>
  </div>

  <div class="ui segment" data-ng-if="index.fragment.embed_url">
    <div class="ui embed" data-source="youtube" data-url="{{ index.fragment.embed_url }}" data-app-embed></div>
  </div>
</div>
