<div class="ui raised segment">
  <a class="ui red ribbon label">
    <i class="user icon"></i>
  </a>

  {{ index.user.name }}

  <button class="ui youtube button" data-ng-click="index.login()" data-ng-hide="index.user.id">
    <i class="sign in icon"></i> Login with YouTube
  </button>

  <button class="ui small button" data-ng-click="index.logout()" data-ng-show="index.user.id">
    <i class="sign out icon"></i> Logout
  </button>
</div>

<div class="ui raised segment" data-ng-show="index.user.id">
  <a class="ui red ribbon label">
    <i class="video play icon"></i>
  </a>
  <div class="ui segments" data-ng-show="index.video.isPreviewing">
    <div class="ui segment" data-ng-if="index.video.isPreviewing" data-ng-class="{loading: index.fragment.isCreating}">
      <iframe frameborder="0" width="100%" height="600" data-ng-src="{{ index.video.embed_url }}"></iframe>
    </div>
    <div class="ui segment" data-ng-show="index.fragment.isCreated">
      <div class="ui form">
        <div class="field">
          <label>New Youtube URL</label>

          <div class="ui fluid action input">
            <input id="url" value="{{ index.fragment.url }}">

            <button id="copy-button" class="ui red icon labeled button" data-clipboard-target="#url">
              <i class="copy icon"></i> Copy
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="ui segment center aligned" data-ng-show="index.fragment.isCreated">
      <div class="ui buttons">
        <a class="ui facebook button" href="#" socialshare socialshare-provider="facebook" socialshare-title="{{ index.fragment.title }}" socialshare-description="{{ index.fragment.description }}" socialshare-url="{{ index.fragment.url }}">
          <i class="facebook icon"></i> Share on Facebook
        </a>
        <div class="or"></div>
        <a class="ui twitter button" href="#" socialshare socialshare-provider="twitter" socialshare-text="{{ index.fragment.title }}" socialshare-url="{{ index.fragment.url }}">
          <i class="twitter icon"></i> Share on Twitter
        </a>
      </div>
    </div>
  </div>

  <div class="ui top attached tabular menu">
    <a class="active item" data-tab="CreateFragment">Create Fragment</a>
    <a class="item" data-tab="Profile" data-ng-click="index.UserProfile()">Profile</a>
    <a class="item" data-tab="AllVideo" data-ng-click="index.AllFragments()">All Video</a>
  </div>
  <div class="ui bottom attached active tab segment" data-tab="CreateFragment">

    <div id="create-fragment" class="ui form" data-ng-hide="index.fragment.isCreating || index.fragment.isCreated">
      <div class="required field">
        <label>Youtube URL</label>

        <input type="url" name="url" placeholder="Youtube URL" data-ng-change="index.createVideo();" data-ng-model="index.video.url" data-ng-disabled="index.video.id">
      </div>
      <div data-ng-show="index.video.embed_url">
        <div class="required field">
          <label>Duration</label>

          <div min="0" max="index.video.duration" model-min="index.fragment.start_from" model-max="index.fragment.end_from" show-values="true" attach-handle-values="true" on-handle-up="index.getVideoEmbedUrl()" on-handle-down="index.getVideoEmbedUrl()" data-range-slider></div>
        </div>
        <div class="required field">
          <label>Title</label>

          <input type="text" name="title" data-ng-model="index.fragment.title">
        </div>
        <div class="field">
          <label>Description</label>

          <textarea name="description" rows="5" data-ng-model="index.fragment.description"></textarea>
        </div>
        <div align="center">
          <button class="ui massive red button" data-ng-click="index.createFragment()">Create fragment</button>
        </div>
      </div>
    </div>
  </div>
  <div class="ui bottom attached tab segment" data-tab="Profile">

    <div class="ui grid">
      <div class="ui card four wide column">
        <div class="ui card">
          <div class="image">
            <img src="{{ user.image }}">
          </div>
          <div class="content">
            <a class="header">{{ user.name }}</a>
            <div class="meta">
              <span class="info_email">{{ user.email }}</span>
            </div>
            <div class="description">

            </div>
          </div>
          <div class="video content">
            <a>
              <i class="video icon"></i>
              {{index.counter}} Videos
            </a>
          </div>
        </div>
      </div>

      <div class="ui twelve wide column">
        <div>
          <div align="center">
            <h2>Profile</h2>
          </div>
          <br>
          <div class="ui grid">
            <div class="four wide column" data-ng-repeat="profile in index.user_profile.profile">
              <div>
                <div class="profile_title">
                  <h4>{{ profile.title }}</h4>
                </div>
                <a href="{{ profile.url }}">
                  <i class="youtube play icon"></i>
                </a>
                <a href="{{ profile.cloud_url }}">
                  <i class="cloud upload icon"></i>
                </a>
                <a href="/delete">
                  <i class="bitbucket icon"></i>
                </a>
              </div>
            </div>
          </div>

        </div>
      </div>


    </div>
  </div>

    <div class="ui bottom attached tab segment" data-tab="AllVideo">
      <div class="ui search right" align="right">
        <div class="ui icon input">
          <input class="prompt" type="text" placeholder="Search" data-ng-model="searchBox">
          <i class="search icon"></i>
        </div>
        <div class="results"></div>
      </div>
      <!--<ul>-->
        <!--<li data-ng-repeat="url in index.all_fragments.fragments | filter:searchBox">-->
          <!--<span>{{ url.title }}</span>-->
          <!--<a href="{{ url.url }}">{{ url.url }}</a>-->

        <!--</li>-->
      <!--</ul>-->

      <div class="ui middle aligned divided list" data-ng-repeat="url in index.all_fragments.fragments | filter:searchBox">
        <div class="item">
          <div class="right floated content">
            <div class="ui button">Add</div>
          </div>
          <i class="search icon"></i>
          <div class="content">
            <span>{{ url.title }}</span>
            <a href="{{ url.url }}">{{ url.url }}</a>
          </div>
        </div>
      </div>

    </div>
</div>

