<div class="ui segment" data-ng-show="index.user.id">
  <a class="ui red ribbon label">
    <i class="video play icon"></i>
  </a>

  <div class="ui segments" data-ng-show="index.video.preview">
    <div class="ui segment" data-ng-if="index.video.preview" data-ng-class="{loading: index.fragment.isCreating}">
      <iframe frameborder="0" width="100%" height="600" data-ng-src="{{ index.fragment.embed_url }}"></iframe>
    </div>
    <div class="ui segment" data-ng-show="index.fragment.isCreated">
      <div class="ui form">
        <div class="field">
          <label>New Youtube URL</label>

          <div class="ui fluid action input">
            <input id="new-url" value="{{ index.new_url }}">

            <button id="copy-button" class="ui red icon labeled button" data-clipboard-target="#new-url">
              <i class="copy icon"></i> Copy
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="ui segment" data-ng-show="index.fragment.isCreated">
      <div class="sharethis-inline-share-buttons"></div>
    </div>
  </div>

  <div id="create-fragment" class="ui form" data-ng-hide="index.fragment.isCreating || index.fragment.isCreated">
    <div class="required field">
      <label>Youtube URL</label>

      <input type="url" name="url" placeholder="Youtube URL" data-ng-change="index.getVideoInfo(); index.getVideoEmbedUrl();" data-ng-model="index.fragment.url">
    </div>
    <div data-ng-show="index.fragment.embed_url">
      <div class="required field">
        <label>Duration</label>

        <div min="1" max="index.video.end" model-min="index.fragment.start" model-max="index.fragment.end" show-values="true" attach-handle-values="true" on-handle-up="index.getVideoEmbedUrl()" on-handle-down="index.getVideoEmbedUrl()" data-range-slider></div>
      </div>
      <div class="required field">
        <label>Title</label>

        <input type="text" name="title" data-ng-model="index.fragment.title">
      </div>
      <div class="field">
        <label>Description</label>

        <textarea name="description" rows="5" data-ng-model="index.fragment.description"></textarea>
      </div>
      <div align="center">
        <button class="ui massive red button" data-ng-click="index.createFragment()">Create fragment</button>
      </div>
    </div>
  </div>
</div>
