<!DOCTYPE html>
<html lang="en" data-ng-app="app">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= csrf_meta_tags %>

    <title>YTC</title>

    <link href="/favicon.ico" rel="shortcut icon">

    <link href="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.min.css" rel="stylesheet">
    <link href="/packages/angular-rangeslider/css/rangeslider.css" rel="stylesheet">
    <link href="/assets/css/app.min.css" rel="stylesheet">
  </head>
  <body data-ng-controller="IndexController as index">
    <div class="ui container">
      <header class="header">
        <a class="logo" href="#" data-ng-click="index.reloadPage()">
          <img src="/assets/images/logo.png" alt="Logo"> YTC
        </a>
      </header>
      <section class="content">
        <%= yield %>
      </section>
    </div>

    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.11/angular.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-cookie/4.1.0/angular-cookie.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.6.0/clipboard.min.js"></script>
    <script src="/packages/angular-token-auth/js/token-auth.min.js"></script>
    <script src="/packages/angular-socialshare/js/socialshare.min.js"></script>
    <script src="/packages/angular-rangeslider/js/rangeslider.js"></script>
    <script src="/assets/js/app.min.js"></script>
    <script>
        $(function ()
        {
            new Clipboard('#copy-button');

            $('#create-fragment').form
            ({
                on: 'change',
                fields: {
                    url: ['empty','url'],
                    start_from: ['empty', 'integer'],
                    end_from: ['empty', 'integer'],
                    title: ['empty']
                }
            });
        })
    </script>
  </body>
</html>
