<!DOCTYPE html>
<html lang="en" data-ng-app="app">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= csrf_meta_tags %>

    <title>YTC</title>

    <link href="/favicon.ico" rel="shortcut icon">

    <link href="/packages/semantic/css/semantic.min.css" rel="stylesheet">
    <link href="/packages/semantic-range/css/range.css" rel="stylesheet">
    <link href="/assets/css/app.min.css" rel="stylesheet">

  </head>
  <body data-ng-controller="IndexController as index">
    <div class="ui container">
      <section class="content">
        <div class="ui segment">
          <a class="ui red ribbon label">
            <i class="user icon"></i>
          </a>

          {{ index.user.name }}

          <button class="ui youtube button" data-ng-click="index.login()" data-ng-hide="index.user.id">
            <i class="sign in icon"></i> Login with YouTube
          </button>

          <button class="ui button" data-ng-click="index.logout()" data-ng-show="index.user.id">
            <i class="sign out icon"></i> Logout
          </button>
        </div>

        <%= yield %>
      </section>
    </div>

    <script src="/packages/jquery/js/jquery.min.js"></script>
    <script src="/packages/angular/js/angular.min.js"></script>
    <script src="/packages/angular-cookie/js/cookie.min.js"></script>
    <script src="/packages/angular-token-auth/js/token-auth.min.js"></script>
    <script src="/packages/semantic/js/semantic.min.js"></script>
    <script src="/packages/semantic-range/js/range.js"></script>
    <script src="/assets/js/app.min.js"></script>
    <script type='text/javascript' src='//platform-api.sharethis.com/js/sharethis.js#property=5901d83fbfca890011a62a27&product=inline-share-buttons' async='async'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.6.0/clipboard.min.js"></script>
    <script>
        var clipboard = new Clipboard('.btn');
        clipboard.on('success', function(e) {
            console.log(e);
        });
        clipboard.on('error', function(e) {
            console.log(e);
        });
    </script>
    <script>
        $(function ()
        {
            $('#create-fragment').form
            ({
                on: 'change',
                fields: {
                    url: ['empty','url'],
                    start: ['empty', 'integer'],
                    end: ['empty', 'integer'],
                    title: ['empty']
                }
            });
        })

        $(function() {
//            // Semantic UI popup
//            $('.js_popup')
//                .popup({
//                    on : 'click'
//                });
//
//
//            // Semantic UI Range
//            $('.ui.range').range({
//                min: 0,
//                max: 10,
//                start: 5,
//                step: 1,
//            });
//
//            $('#smooth').range({
//                min: 0,
//                max: 10,
//                start: 5,
//                smooth: true,
//            });

            $('#double').range({
                min: 0,
                max: 10,
                start: 5,
                step: 1,
                verbose: true,
                debug: true
//                onChange: function(value) {
//                    var
//                        $self = $(this),
//                        firstVal = $self.range('get thumb value'),
//                        secVal = $self.range('get thumb value', 'second');
//                    $('#display-d').html('|' + firstVal + " - " + secVal + '| = ' + value);
//                }
            });

//            $('#range-0').range({
//                min: 0,
//                max: 10,
//                start: 5,
//                labelType: 'letter'
//            });
//
//            // No Step
//            $('#range-1').range({
//                min: 0,
//                max: 10,
//                start: 5,
//                step: 0,
//                onChange: function(value) {
//                    $('#display-1').html(value);
//                }
//            });
//
//            // Place value in an input
//            $('#range-2').range({
//                min: 0,
//                max: 10,
//                start: 5,
//                input: '#input-2'
//            });
//
//            // Or use a custom callback
//            $('#range-3').range({
//                min: 0,
//                max: 10,
//                start: 5,
//                onChange: function(value) {
//                    $('#display-3').html(value);
//                }
//            });
//
//            // Set custom step
//            $('#range-4').range({
//                min: 0,
//                max: 10,
//                start: 4,
//                step: 2,
//                input: '#input-4'
//            });
        });
    </script>
  </body>
</html>
